s3fs
xarray
h5netcdf
netcdf4
spectral
rasterio
rioxarray
matplotlib
datashader
panel
bokeh
jupyter-bokeh==3.0.5
jupyter-contrib-core
jupyter-nbextensions-configurator
jupyter-resource-usage
jupyter-server-proxy
jupyterlab-geojson
jupyterlab-iframe
jupyterlab-topbar
jupyterlab<4
notebook<7
jupyterlab
pip-tools
gdal==3.6.4
holoviews
hvplot

--no-binary rasterio
