bokeh
datashader
gdal==3.6.4
h5netcdf
holoviews
hvplot
jupyter-bokeh==3.0.5
jupyter-contrib-core
jupyter-nbextensions-configurator
jupyter-resource-usage
jupyter-server-proxy
jupyterlab
jupyterlab-geojson
jupyterlab-iframe
jupyterlab-topbar
jupyterlab<4
leafmap
localtileserver
matplotlib
netcdf4
notebook<7
odc-geo
odc-stac
panel
pip-tools
pystac
python-geohash
rasterio
rioxarray
s3fs
segment-geospatial
spectral
xarray

--no-binary rasterio
